p input[type="checkbox"]
{
    margin-right: 5px;
}

button.btn-delete
{
    background: crimson;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    float: right;
}

form
{
    display: flex;
}

form button[type="submit"]
{
    flex: 2;
}

form input
{
    flex: 10;
}

form input, form button[type="submit"]
{
    padding: 10px;
    margin: 5px 5px;
}